* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Luckiest Guy", cursive;
  background-color: #e6e6ea;
}

#nav {
  padding: 20px;
  overflow: hidden;
  background-color: #fe4a49;
}

#nav h2 {
  color: #fff;
  float: left;
  margin-left: 10%;
  font-size: 2rem;
}

#nav ul {
  list-style-type: none;
  font-size: 1.3rem;
  margin-left: 60%;
}

#nav li {
  margin-top: 10px;
  float: left;
  padding: 0 20px 0 20px;
}

#nav a {
  text-decoration: none;
  color: #fff;
}

.current a::after {
  content: "_";
  background-color: #fff;
  font-size: 4px;
  display: block;
}

#container {
  display: grid;
  grid-template-columns: 82% 18%;
}

#equation {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
  font-size: 5.2rem;
  background: #fff;
  border-radius: 3px;
  text-align: center;
  margin: 10px 10px 0px 10px;
}

#equation h1 {
  display: inline;
  padding: 20px;
}

#answer-options {
  font-size: 5rem;
  margin-right: 10px;
}

#answer-options h1 {
  cursor: pointer;
  color: whitesmoke;
  border-radius: 3px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
}

#option1 {
  background-color: #fe4a49;
  transition: 0.5s;
}

#option1:hover {
  color: #fe4a49;
  background-color: #fff;
}

#option2 {
  background-color: #2ab7ca;
  transition: 0.5s;
}

#option2:hover {
  color: #2ab7ca;
  background-color: #fff;
}

#option3 {
  background-color: #fed766;
  transition: 0.5s;
}

#option3:hover {
  color: #fed766;
  background-color: #fff;
}

@media (max-width: 1145px) {
  #nav h2 {
    font-size: 2.5rem;
    float: none;
    text-align: center;
    margin-left: 0;
  }

  #nav {
    float: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #nav ul {
    margin-left: 0;
  }

  #nav li {
    font-size: 1rem;
  }
}

@media (max-width: 580px) {
  #equation h1 {
    padding: 5px;
  }
  #answer-options {
    font-size: 3rem;
  }
}
